body {
    background:lightsteelblue;
    margin: 50px;
}
.messagebody {
    background:white;
    width: 800px; 
    height: 500px;
    border-width: 2px; 
    border-color: black; 
    border-style: solid;
    overflow-x: hidden;
    overflow-y: auto;
}
.sev0 {
    font-style: italic;
}
.sev1 {
    color: orange;
}
.sev2 {
    color:red
}