<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="messagebody">
    {% for x in chat %}
    <p>{{x}}</p>
    {% endfor %}
    </div>

    <form method="POST" action="/">
        <div class="form-group">
            <input type="text" name="chatfield">
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
        
    </form>
    
</body>
</html>